body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 860px;
    margin: 0 auto;
    padding: 10px;
}

header {
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin: 10px 0;
}

.language-switch {
    margin: 30px auto 30px auto
}

.language-switch a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    margin: 1 10px;
    border: 3px solid transparent;
    padding: 7px;
    border-radius: 15px;
}

.language-switch a.active {
    border-color: #fff;
    font-size: 35px;
}

.content {
    background-color: #b8b8b8;
    padding: 40px 0;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
}

.logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#discord-logo {
    width: 40px; 
    margin-left: 20px;
}
